html{ font-family: 'Roboto', 'Shrikhand', sans-serif;
}


/************!*!*MAIN STYING*!**************************!*/

body {
    margin: 0;
    padding: 0;
}

.main-container {

    background-color: #f2f2f2;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 90%;
}

/*.logo {*/
    /*width: 25%;*/
/*}*/



/*************NAV STYLES********************/

nav{
    width: 80%;
    background-color: white;
    border-bottom: 1px slategrey solid;
    margin: 0 auto;
    /*padding: 20px 10px 20px 0;*/
}

#logo {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    width: 70%;
}



.navbar-flex-container {
    display: flex;
    /*flex-shrink: 0;*/
    list-style-type: none;
    justify-content: space-around;
    /*!*height:60px;*!*/
    /*align-items: center;*/
    /*margin: 0;*/
    /*width: 100%;*/
}

.navbar-child {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-right: 1em;

}

/*.item-1 {*/
    /*display:flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/

/*}*/

.logo {
    width: 25%;
}
nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: red;
    text-decoration: underline;
}

nav a:active{
    background-color: purple;
    text-decoration: underline;
}

nav a {
    padding: 4px 10px;
}

#current {
    background-color: #6cc2a3;
    border-radius: 15px;
    padding: 4px 10px;
}




/*FOOTER STYLES*/
footer {
    display: flex;
    flex-direction: row;
}


i {
    display: inline;
}
.copyright {
    width: 50%;
}

.social {
    width: 50%;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer p {
    font-size: 1em;
    margin-left: 2em;
}

.social img {
    width: 40%;
}

#pinterest{
    padding-top: 15px;}



/**********CONTACT PAGE******************/


#address-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
}

#map {
    width: 55%;
    height: 400px;
    background-color: grey;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
}

/****** CSS MICHAEL ******/
.ml-contentContainer {
  margin: 0;
  text-align: center;
}

.ml-contentContainer p {
  margin: 1em 6em;
  text-align: justify;
}

.ml-banner {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: flex-end;
}

.ml-banner-pic {
  width: 100%;
  background-image: url(../img/average-people-banner.png);
  background-repeat: no-repeat;
}

.ml-banner-pic img {
  max-height: 500px;
  width: 100%;
}

#ml-warning-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

#ml-help-button {
  height: 100px;
  width: 200px;
  font-size: 2em;
  border: none;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  cursor: pointer;
  box-shadow: inset 0 0 10px #000;
}

/******** CARD STYLING ********/

.card-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	margin: 1em auto;
}

.card {
	max-width: 20%;
	min-width: 300px;
	max-height: 400px;
	background-color: pink;
	padding-bottom: .3em;
	border-radius: 10px;
	overflow: scroll;
	box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
	margin: 1em auto;
    position:relative
}

.card-images {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid black;
    margin: 2em;
    height: 200px;
    width: 200px;
    margin-left: 15%;
}

.dateBtn {
    float: right;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color:lightblue;
}

.dateBtn a {
    text-decoration: none;
}
.card-header {
    margin: 1em;
}

.card-paragraph {
     margin: 1em;
}







































/*********** PROFILE PAGE STYLES **************/

form {
    font-family: 'Roboto', 'Shrikhand', sans-serif;
}

form legend {
    font-size: 1.25em;
}

fieldset {
    border: 3px solid black;
}

.profileFlexContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
}

.profileDivLeft {
    width: 35%;
    min-width: 220px;
}

.profileDivRight {
    width: 35%;
    min-width: 220px;
}
